<%- include("header"); -%>

<div class="jumbotron" >
    <h3 style="color: white;">Welcome to 417 Tonight</h3>
</div>
<div class="row">
<div class="col-md-6 col-sm-6" style="display: flex; justify-content: center; align-items: center;">
    <img  style="width: 500px;" src="images/smile.png">
</div>
<div class="col-md-6 col-sm-6">
<h4> Create an Account</h4>
<form action="/create" method="POST"> 
    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" minlength="6" required><small>minimum of 6 characters</small>
    </div>
    <div class="form-group">
        <label for="C-password"> Confirm password</label>
        <input type="password" name="confirmPassword" minlength="6" class="form-control" required>
        <small style="color: red;"><%= passwordmessage %></small>
    </div>
    <button type="submit" class="btn btn-success form-control">Sign me Up!</button>
</form>
<h6>Already have an account?</h6> <a href="/sign">Log in here</a>
</div>
</div>

<%- include("footer"); -%>